In [1]:
import pandas as pd
import datetime

# NORDIC:BALTIC

In [2]:
df_emission_data=pd.read_excel('raw data/NORDIC:BALTIC/EU_allowance_price.xlsx')
print(df_emission_data.head())

        DATE  CLOSING PRICE   OPEN  DAILY HIGH  DAILY LOW
0 2019-05-02          25.04  25.04         NaN        NaN
1 2019-04-30          25.85  25.85         NaN        NaN
2 2019-04-29          25.81  25.81         NaN        NaN
3 2019-04-26          26.79  26.79         NaN        NaN
4 2019-04-25          27.46  27.46         NaN        NaN

In [3]:
df_electricity_price=pd.read_excel('raw data/NORDIC:BALTIC/elspot_price_2018_hourly.xlsx')

In [4]:
df_electricity_price['Date']=["{:%d-%m-%Y}".format(x)  if type(x) is datetime.datetime else x for x in df_electricity_price['Date'] ]

,Date,Hours,SYS,SE1,SE2,SE3,SE4,FI,DK1,DK2,Oslo,Kr.sand,Bergen,Molde,Tr.heim,TromsÃ¸,EE,LV,LT
0,01-01-2018,00 - 01,"26,31","26,33","26,33","26,33","26,33","26,33","21,80","26,33","26,33","26,33","26,33","26,33","26,33","26,33","26,33","26,33","26,33"
1,01-01-2018,01 - 02,"26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43","26,43"
2,01-01-2018,02 - 03,"26,09","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10","26,10"
3,01-01-2018,03 - 04,"24,63","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70","24,70"
4,01-01-2018,04 - 05,"24,67","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74","24,74"

# CAISO

In [29]:
df_emission_data=pd.read_csv('raw data/CAISO/Cali_carbon_dash.csv')
df_emission_data.dropna(axis=0, inplace=True)
df_emission_data.reset_index(inplace=True, drop=False)
del df_emission_data['index']

In [31]:
df_emission_data.head()

     date  Price
0  9/2/11  21.30
1  9/5/11  22.10
2  9/6/11  22.40
3  9/7/11  22.85
4  9/8/11  22.65

# RGGI and ISO-new england

In [47]:
df_emission_data=pd.read_excel('raw data/ISO new england/RGGI_CO2_allowance_clearing_price.xlsx')

df_emission_data['New_date']=["{:%d-%m-%Y}".format(x) for x in  df_emission_data['Date']]

print(df_emission_data.head())

      Auction       Date Quantity Offered CCR Sold Quantity Sold  \
0  Auction 43 2019-03-13      12,883,436        0    12,883,436
1  Auction 42 2018-12-05      13,360,649        0    13,360,649
2  Auction 41 2018-09-05      13,590,107        0    13,590,107
3  Auction 40 2018-06-13      13,771,025        0    13,771,025
4  Auction 39 2018-03-14      13,553,767        0    13,553,767

  Clearing Price   Total Proceeds    New_date
0         $5.27   $67,895,707.72   13-03-2019
1         $5.35   $71,479,472.15   05-12-2018
2         $4.50   $61,155,481.50   05-09-2018
3         $4.02   $55,359,520.50   13-06-2018
4         $3.79   $51,368,776.93   14-03-2018

In [53]:
df_electricity_price_data=pd.read_excel('raw data/ISO new england/2019_smd_hourly.xlsx', sheet_name='ME')

df_electricity_price_data['New Date']=["{:%d-%m-%Y}".format(x) for x in  df_electricity_price_data['Date']]

In [54]:
df_electricity_price_data

,Date,Hr_End,DA_Demand,RT_Demand,DA_LMP,DA_EC,DA_CC,DA_MLC,RT_LMP,RT_EC,RT_CC,RT_MLC,Dry_Bulb,Dew_Point,New Date
0,2019-01-01,1,802.1,1123.759,24.72,25.57,-0.11,-0.74,34.32,35.42,-0.36,-0.74,33,33,01-01-2019
1,2019-01-01,2,769.5,1079.799,19.74,20.44,-0.05,-0.65,37.14,38.38,0.00,-1.24,33,33,01-01-2019
2,2019-01-01,3,729.8,1063.540,18.33,18.84,-0.04,-0.47,20.30,21.09,0.00,-0.79,36,34,01-01-2019
3,2019-01-01,4,716.9,1058.920,18.50,19.09,-0.05,-0.54,17.35,18.29,-0.26,-0.68,39,37,01-01-2019
4,2019-01-01,5,723.3,1058.200,17.29,17.78,-0.04,-0.45,7.13,7.48,-0.11,-0.24,41,40,01-01-2019
5,2019-01-01,6,784.5,1084.771,19.66,20.20,-0.07,-0.47,16.87,17.77,-0.28,-0.62,42,41,01-01-2019
6,2019-01-01,7,903.8,1125.583,20.14,20.62,-0.02,-0.46,10.20,10.71,-0.17,-0.34,43,43,01-01-2019
7,2019-01-01,8,1014.9,1183.848,22.41,22.98,-0.03,-0.54,-43.37,-44.30,-0.01,0.94,42,42,01-01-2019
8,2019-01-01,9,1091.3,1253.910,23.12,23.74,-0.04,-0.58,-19.37,-19.70,-0.02,0.35,36,36,01-01-2019
9,2019-01-01,10,1168.4,1311.660,22.05,22.39,0.00,-0.34,18.63,19.28,-0.30,-0.35,36,36,01-01-2019
10,2019-01-01,11,1088.3,1348.689,24.81,25.28,0.00,-0.47,11.96,12.16,0.00,-0.20,42,39,01-01-2019
11,2019-01-01,12,1036.6,1341.972,25.17,25.63,0.00,-0.46,2.51,2.56,0.00,-0.05,47,41,01-01-2019
12,2019-01-01,13,1022.2,1349.805,25.11,25.62,0.00,-0.51,11.06,11.31,0.00,-0.25,49,40,01-01-2019
13,2019-01-01,14,984.2,1338.909,24.80,25.38,-0.06,-0.52,10.76,11.22,-0.17,-0.29,48,33,01-01-2019
14,2019-01-01,15,990.0,1345.529,24.79,25.33,-0.09,-0.45,17.26,17.99,-0.26,-0.47,46,31,01-01-2019
15,2019-01-01,16,1079.0,1384.849,23.88,24.38,-0.11,-0.39,15.63,16.22,-0.21,-0.38,45,30,01-01-2019
16,2019-01-01,17,1174.8,1498.703,25.52,26.09,-0.13,-0.44,17.54,18.21,-0.26,-0.41,41,25,01-01-2019
17,2019-01-01,18,1204.4,1576.669,36.51,37.32,-0.28,-0.53,24.14,24.99,-0.36,-0.49,39,25,01-01-2019
18,2019-01-01,19,1213.3,1545.213,32.80,33.46,-0.23,-0.43,21.83,22.71,-0.33,-0.55,37,24,01-01-2019
19,2019-01-01,20,1200.8,1493.416,28.32,28.91,-0.17,-0.42,21.16,22.06,-0.32,-0.58,36,23,01-01-2019
20,2019-01-01,21,1080.8,1423.322,25.09,25.79,-0.19,-0.51,22.33,23.31,-0.34,-0.64,33,21,01-01-2019
21,2019-01-01,22,975.9,1325.370,24.03,24.90,-0.17,-0.70,19.19,20.16,-0.30,-0.67,32,16,01-01-2019
22,2019-01-01,23,873.3,1246.407,23.47,24.43,-0.12,-0.84,18.06,19.08,-0.29,-0.73,30,14,01-01-2019
23,2019-01-01,24,794.1,1178.143,22.71,23.66,-0.16,-0.79,16.91,17.76,-0.27,-0.58,29,9,01-01-2019
24,2019-01-02,1,852.3,1138.823,23.61,24.51,-0.26,-0.64,3.52,3.64,0.00,-0.12,27,6,02-01-2019
25,2019-01-02,2,828.6,1118.880,22.70,23.36,-0.20,-0.46,0.46,0.56,-0.07,-0.03,26,5,02-01-2019
26,2019-01-02,3,831.8,1125.121,19.46,19.98,-0.16,-0.36,18.26,18.76,-0.20,-0.30,24,7,02-01-2019
27,2019-01-02,4,854.9,1143.281,21.35,21.91,-0.17,-0.39,22.12,22.45,0.00,-0.33,23,7,02-01-2019
28,2019-01-02,5,929.3,1189.282,24.24,24.76,-0.18,-0.34,18.54,18.75,0.00,-0.21,22,7,02-01-2019
29,2019-01-02,6,1029.5,1316.119,28.62,29.18,-0.24,-0.32,16.48,16.59,0.00,-0.11,22,4,02-01-2019
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2130,2019-03-30,19,994.3,1326.247,24.03,24.57,-0.10,-0.44,20.32,20.57,-0.05,-0.20,40,40,30-03-2019
2131,2019-03-30,20,928.7,1312.531,31.49,32.40,-0.22,-0.69,23.64,23.94,-0.01,-0.29,40,40,30-03-2019
2132,2019-03-30,21,851.1,1263.194,33.19,34.29,-0.24,-0.86,21.96,22.21,0.01,-0.26,40,40,30-03-2019
2133,2019-03-30,22,802.0,1186.265,24.00,24.84,-0.18,-0.66,22.80,23.20,0.01,-0.41,40,39,30-03-2019
2134,2019-03-30,23,673.1,1102.253,22.22,23.10,-0.16,-0.72,19.80,20.26,-0.01,-0.45,40,40,30-03-2019
2135,2019-03-30,24,655.9,1033.643,20.87,21.57,-0.14,-0.56,20.63,21.23,-0.16,-0.44,41,40,30-03-2019
2136,2019-03-31,1,336.5,975.530,18.78,19.92,-0.17,-0.97,18.50,19.03,-0.13,-0.40,40,38,31-03-2019
2137,2019-03-31,2,339.1,962.964,18.41,19.60,-0.20,-0.99,15.94,16.52,-0.22,-0.36,40,40,31-03-2019
2138,2019-03-31,3,334.8,957.757,17.50,18.39,-0.14,-0.75,10.39,10.77,-0.14,-0.24,44,43,31-03-2019
2139,2019-03-31,4,314.3,954.653,17.33,18.29,-0.27,-0.69,16.50,17.14,-0.21,-0.43,46,44,31-03-2019
2140,2019-03-31,5,332.4,951.455,17.36,18.25,-0.27,-0.62,7.55,8.01,-0.19,-0.27,45,44,31-03-2019
2141,2019-03-31,6,394.6,985.453,17.57,18.29,-0.19,-0.53,15.01,15.89,-0.42,-0.46,46,45,31-03-2019
2142,2019-03-31,7,468.3,1039.915,17.43,18.37,-0.27,-0.67,12.36,13.17,-0.39,-0.42,46,45,31-03-2019
2143,2019-03-31,8,591.2,1128.834,17.68,18.31,-0.27,-0.36,14.07,14.80,-0.37,-0.36,47,45,31-03-2019
2144,2019-03-31,9,739.0,1214.737,18.88,19.44,-0.16,-0.40,16.33,16.95,-0.24,-0.38,48,46,31-03-2019
2145,2019-03-31,10,772.3,1260.242,22.21,23.13,-0.21,-0.71,3.09,3.22,-0.05,-0.08,50,48,31-03-2019
2146,2019-03-31,11,818.1,1255.886,22.20,23.06,-0.21,-0.65,14.38,15.08,-0.22,-0.48,50,47,31-03-2019
2147,2019-03-31,12,805.7,1238.519,23.38,24.26,-0.23,-0.65,21.88,22.93,-0.34,-0.71,52,47,31-03-2019
2148,2019-03-31,13,723.5,1223.571,28.34,29.53,-0.30,-0.89,27.10,28.41,-0.43,-0.88,54,47,31-03-2019
2149,2019-03-31,14,834.5,1233.715,22.21,23.02,-0.20,-0.61,29.24,30.68,-0.45,-0.99,53,45,31-03-2019
2150,2019-03-31,15,807.9,1248.544,21.81,22.42,-0.21,-0.40,30.67,32.13,-0.45,-1.01,51,44,31-03-2019
2151,2019-03-31,16,913.7,1281.599,21.84,22.40,-0.21,-0.35,33.32,34.87,-0.64,-0.91,50,45,31-03-2019
2152,2019-03-31,17,958.0,1325.768,22.05,22.65,-0.21,-0.39,33.49,34.90,-0.49,-0.92,49,47,31-03-2019
2153,2019-03-31,18,1006.3,1370.050,24.24,24.97,-0.24,-0.49,31.46,32.69,-0.45,-0.78,49,48,31-03-2019
2154,2019-03-31,19,994.1,1369.201,27.09,27.96,-0.29,-0.58,29.57,30.82,-0.42,-0.83,49,48,31-03-2019
2155,2019-03-31,20,1021.4,1345.802,35.36,36.39,-0.30,-0.73,30.84,31.92,-0.20,-0.88,50,48,31-03-2019
2156,2019-03-31,21,945.2,1282.410,33.54,34.64,-0.27,-0.83,36.97,38.03,0.01,-1.07,46,44,31-03-2019
2157,2019-03-31,22,822.3,1180.014,28.47,29.58,-0.21,-0.90,32.73,34.09,-0.23,-1.13,43,41,31-03-2019
2158,2019-03-31,23,633.8,1079.730,23.14,24.20,-0.13,-0.93,21.43,22.57,-0.27,-0.87,40,36,31-03-2019
2159,2019-03-31,24,568.7,1017.866,21.99,23.03,-0.11,-0.93,17.26,18.23,-0.24,-0.73,38,33,31-03-2019